:root {
    --primary: #fe2c55;
    --black: rgb(22, 24, 35);
    --text-color: rgb(22, 24, 35);
    --primary-color: rgba(254, 44, 85, 1);
    --white-color: rgba(255, 255, 255, 1);
    // width height layouts
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-slide: 356px;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}
