@import 'normalize.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
}

body {
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed; // tối ưu sao để hiển thị nhanh nhất khi rendering
    color: var(--text-color);
}

// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

body {
    .tippy-box {
        text-decoration: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
        color: rgb(255, 255, 255);
        padding: 3px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow {
        top: -1px;
    }
}
